<div class="main-div">
  <mat-toolbar class="mat-elevation-z6" style="position: fixed; top: 0; z-index: 2; background: #556CCB; color: white">
    <span> Icon Ranker </span>
  </mat-toolbar>
  <div style="flex: initial; display: flex; flex-direction: column; padding: 30px 30px" [ngStyle]="{'width':width+'px'}">
    <h2>Vote on the Server Icons for the Upcoming Month</h2>
    <mat-accordion  class="example-headers-align">
<!--      Name panel-->
      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span>User info</span>
        </mat-panel-title>
        <mat-panel-description>
          Enter your name
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput [formControl]="name" required>
        <mat-error *ngIf="name.invalid">{{getErrorMessage(name)}}</mat-error>
      </mat-form-field>

      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep(1)" type="submit">View Icons</button>
        <button mat-button color="primary" (click)="nextStep(2)" type="submit">Vote on Icons</button>
      </mat-action-row>
    </mat-expansion-panel>

<!--      Images panel-->
      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" [disabled]="nameForm.invalid">
        <mat-expansion-panel-header>
          <mat-panel-title>
            View Icons
          </mat-panel-title>
          <mat-panel-description>
            View the full size icons
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="dragDropTitle">
          <h3>Click an icon to see it full size.</h3> <h4>Scroll down to the next section if you want to vote.</h4>
        </div>
        <div style="padding: 5px 0;">
          <mat-grid-list
                         [cols]="colNum" rowHeight="272px"
                         (window:resize)="onResize($event)"
                         gutterSize="10px">
            <mat-grid-tile *ngFor="let icon of icons">
              <div class="icon-panel" [ngStyle]="{'height': iconPanelCss, 'width': iconPanelCss}">
                <div class="image-holder" [ngStyle]="{'height': iconTotalCss, 'width': iconTotalCss, 'line-height': iconTotalCss}">
                  <img *ngIf="icon.imageUrl != undefined && icon.imageUrl.length > 0" [src]="icon.imageUrl" [ngStyle]="{'max-width': iconMaxSizeCss, 'max-height': iconMaxSizeCss}" (click)="openFullImage(icon.imageUrl)"/>
                  <div *ngIf="icon.imageUrl == undefined || icon.imageUrl.length == 0" style="background: #515151; text-align: center; vertical-align: center" [ngStyle]="{'width': iconMaxSizeCss, 'height': iconMaxSizeCss}">
                    <i>No Image!</i>
                  </div>
                </div>
                <div style="vertical-align: center; text-align: center">
                  {{icon.iconIdea}}
                </div>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
        </div>

        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Change User Info</button>
          <button mat-button color="primary" (click)="nextStep()">Vote on Icons</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)"  [disabled]="nameForm.invalid" cdkDropListGroup>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Icon Ranking
          </mat-panel-title>
          <mat-panel-description>
            Rank the icons in the order of preference
          </mat-panel-description>
        </mat-expansion-panel-header>


        <div class="dragDropTitle">
          <h3>Rank the icons in order of preference<span class="required">*</span> <h4>Drag to reorder. 1 is your first choice, 2 is next, etc.</h4></h3>
        </div>
        <div class="dragDropWrapper">
          <div class="dragDropContainer"  [ngStyle]="{'max-width': rankWidth+'px'}">
            <div cdkDropList
                 cdkDropListOrientation="horizontal"
                 class="example-list listwithNumbers"
                 [cdkDropListData]="rankedList"
                 (cdkDropListDropped)="drop($event)">
                <div class="example-box rankedDraggable" *ngFor="let icon of rankedList; let i = index" cdkDrag>
                    <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                    <div class="rankedImageHolder">
                      <img *ngIf="icon.imageUrl != undefined && icon.imageUrl.length > 0" [src]="icon.imageUrl" style="width: 98px; height: 98px;"/>
                      <div *ngIf="icon.imageUrl == undefined || icon.imageUrl.length == 0" style="text-align: center; vertical-align: middle; width: 100px;">
                        {{icon.shortTitle != undefined ? icon.shortTitle : icon.iconIdea}}
                      </div>
                    </div>
                    <div class="dragLabel">
                      {{i+1}}
                    </div>
                </div>
            </div>
          </div>
        </div>


        <div class="dragDropTitle">
          <h4>Leave the icons you don't want to rank over here</h4>
        </div>
        <div class="dragDropWrapper">
          <div class="dragDropContainer">
            <div id="trashList" cdkDropList
                 style="flex-wrap: wrap;"
                 class="example-list"
                 cdkDropListOrientation="horizontal"
                 cdkDropListSortingDisabled
                 [cdkDropListData]="startingIcons"
                 (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let icon of startingIcons" cdkDrag>
                <img *ngIf="icon.imageUrl != undefined && icon.imageUrl.length > 0" [src]="icon.imageUrl" style="width: 98px; height: 98px;"/>
                <div *ngIf="icon.imageUrl == undefined || icon.imageUrl.length == 0" style="text-align: center; vertical-align: middle; width: 100px;">
                  {{icon.shortTitle != undefined ? icon.shortTitle : icon.title}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">View Icons</button>
          <button mat-button color="primary" (click)="submitAll()">Submit</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>


<ng-template #fullSize let-data class="custom-dialog-container">

  <mat-dialog-content style= "max-height: none;">
    <img [src]="data.url"
         [style.max-width]="data.width < data.height ? data.width + 'px' : 'auto'"
         [style.max-height]="data.height < data.width ? data.height + 'px' : 'auto'"/>
  </mat-dialog-content>
</ng-template>
